{
  "presets": [
    ["env", {
      "targets": {
        "node": "6.11"
      }
    }]
  ],
  "plugins": [
    "lodash",
    "transform-object-rest-spread",
    "transform-object-assign",
    "transform-export-extensions",
    "add-module-exports"
  ],
  "env": {
    "es": {
      "comments": false,
      "plugins": [
        "transform-inline-environment-variables"
      ]
    },
    "commonjs": {
      "comments": false,
      "plugins": [
        "transform-inline-environment-variables"
      ]
    },
    "test": {
      "plugins": [
        ["module-resolver", {
         "root": ["./src"]
       }]
      ]
    }
  }
}
